<!DOCTYPE html>
<html>
  <head>
    <title>Computer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="countdown" class="show"></div>
    <div id="gameOne">
     <div class="rowGameOne">
      <div id="one" class="square"></div>
      <div id="two" class="square"></div>
      <div id="three" class="square"></div>
    </div>
    <div class="rowGameOne">
      <div id="four" class="square""></div>
      <div id="five" class="square"></div>
      <div id="six" class="square"></div>
    </div>
    <a href="/">Home</a>
    <a href="#" onclick="gameOne();">Play Now</a>
    <div>time left:<div id="gameTime"></div></div>
    <div>score<div id="score"></div></div>

    <div>right:<div id="right"></div></div>
    <div>wrong:<div id="wrong"></div></div>
    <div>test:<div id="test"></div></div>

    <div id="yes"> 
        <div class="box" id="accel">
          <span class="head">Accelerometer</span>
          <span id="xlabel"></span>
          <span id="ylabel"></span>
          <span id="zlabel"></span>
          <span id="ilabel"></span>         
          <span id="arAlphaLabel"></span>                   
          <span id="arBetaLabel"></span>                    
          <span id="arGammaLabel"></span>                                       
        </div>    
      
        <div class="box" id="gyro">
          <span class="head">Gyroscope</span>
          <span id="alphalabel"></span>     
          <span id="betalabel"></span>
          <span id="gammalabel"></span>
        </div>
        
        <div class="box2" id="accelcolor">
          <span class="head">Color</span>
        </div>
        <div class="box2" id="gyrocolor">
          <span class="head">Color</span>
        </div>
        
    </div>
    <div id="no">
      Your browser does not support Device Orientation and Motion API. Try this sample with iPhone, iPod or iPad with iOS 4.2+.    
    </div>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
</html>
