<!DOCTYPE html>
<html>
  <head>
    <title>Computer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="gameOne">
     <div class="rowGameOne">
      <div id="one" class="square" onClick="greenTest(one)"></div>
      <div id="two" class="square" onClick="greenTest(two)"></div>
      <div id="three" class="square" onClick="greenTest(three)"></div>
    </div>
    <div class="rowGameOne">
      <div id="four" class="square" onClick="greenTest(four)"></div>
      <div id="five" class="square" onClick="greenTest(five)"></div>
      <div id="six" class="square" onClick="greenTest(six)"></div>
    </div>
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
</html>
