<!DOCTYPE html>
<html>
  <head>
    <title>Play</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <a class="playBtn" href="/computer">Go to game</a>



  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
</html>
