* {
  margin: 0;
  padding: 0;
}

.playBtn {
font-size: 2em;
padding: 5px;
}

.rowGameOne {
  padding-left: 4vw;
/*  background-color: red;*/
}

.square {
  height: 30vw;
  width: 30vw;
  background-color: #000;
  display: inline-block;
}

.rotate {
  transform: rotateX(0deg);
  transform: rotateY(0deg);
  transform: rotateZ(0deg);
}

#countdown {
  margin:10vh 0 0 25vw;
  position: absolute;
  height: 50vh;
  width: 50vh;
  background-color: #ebebeb;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.pSquare {
  height:50vh;
  width:32.5vw;
  background-color: #000;
  display: inline-block;
}

