* {
  margin: 0;
  padding: 0;

  font-family: 'Vollkorn', serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10vh;
  line-height: 65px;
  text-align: center;
}

p {
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  line-height: 25px;
}

.banner {
  margin-top:5px;
  height:70vh;
  width: 100vw;
  background: #fff url("../images/main-background.jpeg") no-repeat fixed bottom; 
  background-size: cover;
  padding-top:15%;
}

.goToGames {
  width:30vw;
  color: #fff;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  padding:2vh;
  font-size: 7vh;
}

.goToGames a{

  color: #fff;
  text-decoration: none;
}

.clickContinue {
  font-size:4vh;
}

#latestGames {
  width: 100vw;
padding-left: 4%;
}

.gameDisplay {
  height: 30vw;
  width: 30vw;
  background-color: #222;
  display: inline-block;
}

#gamesList {
  width: 100vw;
}

.gameListDisplay {
  height: 30vw;
  width: 100vw;
  background-color: #222;
  margin-bottom: 1vh;
  padding: 2vh 2vh;
}

.gameListPic {
  background-color: #fff;
  height:26vw;
  width: 26vw;
  display: inline-block;
}

.gameListDescription {
  width: 68vw;
  height:26vw;
  background-color: #fff;
  display: inline-block;
  margin-left:2vw;
}

/*.playBtn {
font-size: 2em;
padding: 5px;
}

.rowGameOne {
  padding-left: 4vw;
 background-color: red;
}

.square {
  height: 30vw;
  width: 30vw;
  background-color: #000;
  display: inline-block;
}

.rotateX {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  transform: rotateX(0deg);
  transform: rotateY(0deg);
  transform: rotateZ(0deg);
    transform: rotate3d(0,0,0,0deg);
}

.rotateY {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  transform: rotateY(0deg);
  transform: rotateZ(0deg);
}


#countdown {
  margin:10vh 0 0 25vw;
  position: absolute;
  height: 50vh;
  width: 50vh;
  background-color: #ebebeb;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.pSquare {
  height:50vh;
  width:32.5vw;
  background-color: #000;
  display: inline-block;
}*/






 
         /*body
         {
            max-width: 500px;
            margin: 2em auto;
            padding: 0 0.5em;
            font-size: 20px;
         }
 
         h1
         {
            text-align: center;
         }
 
         .hidden
         {
            display: none;
         }*/

        .cube
         {
            width: 150px;
            height: 150px;
            position: relative;
            margin: 30px auto;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
         }
 
         .face
         {
            width: 150px;
            height: 150px;
            position: absolute;
            font-size: 80px;
            text-align: center;
            line-height: 150px;
            background-color: #999999;
            box-shadow: inset 0 0 20px #333333;
            opacity: 0.6;
         }
 
         .cube .one
         {
            -webkit-transform: translateZ(75px);
            transform: translateZ(75px);
         }
 
         .cube .two
         {
            -webkit-transform: rotateY(90deg) translateZ(75px);
            transform: rotateY(90deg) translateZ(75px);
         }
 
         .cube .three
         {
            -webkit-transform: rotateY(180deg) translateZ(75px);
            transform: rotateY(180deg) translateZ(75px);
         }
 
         .cube .four
         {
            -webkit-transform: rotateY(-90deg) translateZ(75px);
            transform: rotateY(-90deg) translateZ(75px);
         }
 
         .cube .five
         {
            -webkit-transform: rotateX(90deg) translateZ(75px);
            transform: rotateX(90deg) translateZ(75px);
         }
 
         .cube .six
         {
            -webkit-transform: rotateX(-90deg) translateZ(75px) rotate(0deg);
            transform: rotateX(-90deg) translateZ(75px) rotate(0deg);
         }

